{% extends "main/layoute.html" %}

{% block title %}
    <title>Самогипноз</title>
{% endblock %}


{% block content %}
    <h2>Что такое самогипноз?</h2>
    <p>Самогипноз - это метод самовнушения, который помогает расслабиться, снять стресс и внести позитивные изменения в свою жизнь. Это инструмент, позволяющий настроить подсознание на достижение целей и укрепление уверенности.</p>

    <h2>Как работает самогипноз?</h2>
    <p>Самогипноз работает, создавая состояние расслабления, в котором ваш разум становится более восприимчивым к новым мыслям и убеждениям. Это состояние называют "гипнотическим трансом".</p>

    <h2>Преимущества самогипноза.</h2>
    <ul>
        <li>Снятие стреса и тревоги.</li>
        <li>Повышение уверенности в себе.</li>
        <li>Избавление от вредных привычек.</li>
        <li>Улучшение сна.</li>
        <li>Достижение личных целей.</li>
    </ul>

{% endblock %}