{% extends "main/layoute.html" %}

{% block title %}
    <title>Самогипноз</title>
{% endblock %}

{% block content %}
    <h2>Очень важные новости</h2>
    <ol>
        <li><strong>Не позволяйте зацикливаться на своих целях впустую:</strong> Когда процесс идет гладко, мы пренебрегаем возможностью улучшить способности и образ мышления.</li>
        <li><strong>Ситуации, которые заставляют партнеров чувствовать себя одинокими:</strong> Социальные сценарии могут создать ощущение одиночества.</li>
        <li><strong>Лицом к лицу с тем, что нельзя забыть:</strong> Ошибка может случиться легко, но простить себя - не так уж и много. Узнайте, что такое истинное прощение себя и как сделать его реальным в своей жизни.</li>
    </ol>
{% endblock %}