{% extends "main/layoute.html" %}

{% block title %}
    <title>Самогипноз</title>
{% endblock %}

{% block content %}
    <h2>Шаги для самостоятельной практики.</h2>
    <ol>
        <li><strong>Найдите спокойное место:</strong> Убедитесь, что вас никто не потревожит.</li>
        <li><strong>Расслабьтесь:</strong> Используйте медленные глубокие вдохи, чтобы снять напряжение.</li>
        <li><strong>Повторяйте позитивные утверждения:</strong> Например, "Я уверен в себе и своих силах".</li>
        <li><strong>Визуализируйте успех:</strong> Представьте себя в той ситуации, где вы уже достигли цели.</li>
    </ol>
{% endblock %}